@import '../../../main-styles.scss';

.recipe-manager-container{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 600px;
}

// Sidebar Styles:
.sidebar{
    display: flex;
    flex-direction: column;
    width: 250px;
    background: white;
    padding: 42px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

// Category List Styles:
.category-menu{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;

    .category-menu-item{
        display: flex;
        align-items: center;
        padding: 10px 15px;
        width: 100%;
        color: #5f5f5f;
        margin-bottom: 5px;

        &:hover{
            background: $light;
        }
    
        &.is-active{
            background-color: #cff8ef;
            color: $dark-green;
        }
    }

}

// Recipe Container Styles:

.main-recipe-container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 42px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    .top-bar{
        margin-bottom: 20px;
        display: flex;
        .title{
            flex-grow: 1;
            margin: 0;
        }
    }
}

.recipe-list-container {
    position: relative;
    height: 68vh;
    overflow-y: auto;
}

.recipe-container {

    background-color: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;

    cursor: pointer;
    transition: box-shadow 0.2s ease,
    transform ease 0.2s;

    display: flex;
    flex-direction: row;
    align-items: center;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      box-shadow: 0 0 0 5px #eee;

        .recipe-buttons{
            opacity: 1;
            transform: scale(1);
        }
    }

    .recipe-items{
        flex-grow: 1;
    }

    .recipe-buttons{
        opacity: 0;
        transition: opacity 0.2s, transform 0.2s;
        transform: scale(0.5);
    }

}

// Button Styles:
.add-button{
    position: absolute;
    /* bottom: 10%; */
    right: 16%;
    height: 7%;
    top: 7%;
    // width: 20%;
}

// Empty States Styles:
.empty-recipe-list{
    font-size: 20px;
    color: #777;
    width: 84%;
    position: absolute;
    top: 2%;
}

.is-category-empty{
    font-size: 20px;
    color: #777;
    width: 84%;
    position: absolute;
    top: 17%;
}

// Expansion Panel Styles:

.expansion-panel{
    background-color: gainsboro;
}

.expansion-headers{
    background-color: #e2dcdc;
    margin-bottom: 8px;

    &:active{
        background-color: #e2dcdc;
    }
}

img{
    width: 32%;
    height: 50%;
}