<div class="recipe-view-content">
    <div class="recipe-manager-container">

        <!-- Sidebar Container -->
        <div class="sidebar has-background-white">
            <h1 id="title-category" class="title has-text-primary">
                Categories
            </h1>
            <div class="category-container">
                <div class="category-menu">
                    <a class="category-menu-item" *ngFor="let item of categories" [routerLink]="['/categories', item._id]"
                        routerLinkActive="is-active">
                        <p>{{item.categoryName}}</p>
                    </a>
                </div>
            </div>

            <button id="add-category" class="button is-primary has-text-white" routerLink="/new-category"> + New Category</button>
        </div>

        <!-- Recipe List Container -->
        <div class="main-recipe-container has-background-light">
            <div class="top-bar">
                <h1 class="title has-text-primary">
                    Recipe Lists
                </h1>
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                            <span class="icon is-small">
                                <i class="fas fa-cog" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                        <div class="dropdown-content">
                            <a [routerLink]="['/edit-category', selectedCategoryId]" class="dropdown-item">
                                Edit
                            </a>
                            <a (click)="onDeleteCategoryClick()" class="dropdown-item has-text-danger">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recipe-list-container" *ngIf="recipes">

                <!-- Object Values for Recipe List -->
                <!-- 
                    recipeName,
                    ingredientsInfo,
                    directions, 
                -->
                <!-- Current Recipes -->
                <div *ngFor="let recipe of recipes">
                    <div class="recipe-container">
                        <div class="recipe-items" id="{{recipe._id}}">
                            <p> Name: <b>{{recipe.recipeName}}</b></p>

                            <!-- Recipe Image -->
                            <span class="recipeImage" *ngIf="recipe.recipeImageBlob">
                                <img [src]="recipe.recipeImageBlob">
                            </span>
                        </div>

                        <div class="recipe-buttons">
                            <button class="button"
                                [routerLink]="['/categories', selectedCategoryId, 'edit-recipes', recipe._id]">
                                <div class="icon">
                                    <i class="fas fa-edit"></i>
                                </div>
                            </button>
                            <button class="button is-danger" (click)="onDeleteRecipeClick(recipe._id)"
                                style="margin-left: 10px">
                                <div class="icon">
                                    <i class="fas fa-trash"></i>
                                </div>
                            </button>
                            <button class="button is-primary" (click)="getRecipeInfoPdf(recipe.recipeName, recipe.recipeImageBlob, recipe.ingredientsInfo, recipe.directions)"
                                style="margin-left: 10px">
                                Convert
                            </button>

                        </div>
                    </div>
                    <mat-accordion>
                        <!-- Panel For Ingredients -->
                        <mat-expansion-panel (opened)="panelOpenStateIngred = true"
                            (closed)="panelOpenStateIngred = false" class="expansion-panel">
                            <!-- Headers -->
                            <mat-expansion-panel-header class="expansion-headers">
                                <mat-panel-title>
                                    Ingredients:
                                </mat-panel-title>
                                <mat-panel-description>
                                    ( {{panelOpenStateIngred ? 'Hide' : 'View'}} ingredients )
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <!-- HIdden Items -->
                            <mat-panel-description id="{{recipe._id}}">
                                {{recipe.ingredientsInfo}}
                            </mat-panel-description>
                        </mat-expansion-panel>
                        <!-- Panel For Directions -->
                        <mat-expansion-panel (opened)="panelOpenStateDirect = true"
                            (closed)="panelOpenStateDirect = false" class="expansion-panel">
                            <mat-expansion-panel-header class="expansion-headers">
                                <mat-panel-title>
                                    Directions:
                                </mat-panel-title>
                                <mat-panel-description>
                                    ( {{panelOpenStateDirect ? 'Hide' : 'View'}} directions )
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <!-- Hidden Items -->
                            <mat-panel-description id="{{recipe._id}}">
                                {{recipe.directions}}
                            </mat-panel-description>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <!-- If no recipes have been created for a selected Category, this text will appear -->
                <div *ngIf="recipes.length === 0">
                    <h1 class="empty-recipe-list">
                        -- There are no recipes created for this category.
                        Click the 'New Recipe' below
                        to create a new recipe! --
                    </h1>
                </div>

            </div>

            <button class="add-recipe button is-primary has-text-black" routerLink="./new-recipe">
                + New Recipe
            </button>

            <!-- When Categories are empty, this text will appear-->
            <div *ngIf="isEmptyObject(categories)">
                <h1 class="is-category-empty">
                    -- Create a new Category by clicking on the 'New Category' button.
                    Then, select a Category in the sidebar to view Recipes. --
                </h1>
            </div>

            <!-- If Categories are created but not selected upon logging in -->
            <div *ngIf="!isEmptyObject(categories) && !recipes">
                <h1 class="is-category-empty">
                    Welcome back! Make sure to click on a Category to view your recipes!
                </h1>
            </div>

        </div>
    </div>
</div>