@import '../../../main-styles.scss';

.recipe-manager-container{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 600px;
}

// Sidebar Styles:
.sidebar{
    width: 250px;
    background: white;
    padding: 42px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.sidebar-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 12em;
}

// Category List Styles:
.category-container{
    overflow-y: auto;
    height: 80%;
}
.category-menu{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .category-menu-item{
        // display: flex;
        // align-items: center;
        padding: 10px 15px;
        width: 100%;
        color: #5f5f5f;
        margin-bottom: 5px;

        &:hover{
            background: $light;
        }
    
        &.is-active{
            background-color: #d4cfcf;
            color: $black;
        }
    }

}

// Recipe Container Styles:

.main-recipe-container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 42px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #525151;

    .main-recipe-header{
        margin-bottom: 20px;
        display: flex;
        .title{
            flex-grow: 1;
            margin: 0;
        }
    }
}

.recipe-list-container {
    position: relative;
    height: 67vh;
    overflow-y: auto;
}

.recipe-container {

    background-color: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;

    cursor: pointer;
    transition: box-shadow 0.2s ease,
    transform ease 0.2s;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      box-shadow: 0 0 0 5px #eee;

        .recipe-buttons{
            opacity: 1;
            transform: scale(1);
        }
    }

    .recipe-header{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
    }

    .recipe-buttons{
        opacity: 0;
        transition: opacity 0.2s, transform 0.2s;
        transform: scale(0.5);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

}

// Button Styles:
#add-recipe{
    position: absolute;
    right: 16%;
    top: 7%;
    width: 6%;
    height: auto;
    background: #e8bf72;
    border-radius: 50%;
}
#add-recipe-info{
    width: 8%;
    height: auto;
    background: #e8bf72;
    border-radius: 50%;
}
.category-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#add-category{
    width: 90%;
    font-size: 17px;
    background: #e8bf72;
    padding: 8px;
}

// Disabled New Recipe Button
.newRecipeDisabled{
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }

// Empty States Styles:
.empty-recipe-list{
    font-size: 20px;
    color: #fffdfd;
    width: 84%;
    position: absolute;
    top: 10%;
}

.is-category-empty{
    font-size: 20px;
    color: #fffdfd;;
    width: 84%;
    position: absolute;
    top: 47%;
}

// Expansion Panel Styles:
.expansion-panel{
    background-color: gainsboro;
}

.expansion-headers{
    background-color: #e2dcdc;
    margin-bottom: 8px;

    &:active{
        background-color: #e2dcdc;
    }
}

// Recipe Image Styles:
.recipeImage{
    width: 33%;
    height: 50%;
}
.recipeImage > img{
    max-width: 80%;
    max-height: 50%;
}


/* Media Queries: */

// For Mobile
// @media all and (max-width: 468px){
//     .sidebar{
//         width: 100vw;
//         flex-direction: column;
//         justify-content: center;
//         align-items: baseline;
//         position: relative;
//     }
//     .sidebar-header-container{
//         width: 84vw;
//     }

//     .category-container{
//         overflow-y: auto;
//         height: 20vh;
//         width: 84vw;
//     }
    
//     .category-menu{
//         flex-direction: row;
//         flex-flow: wrap;
//         width: 89vw;

//         .category-menu-item{
//             // overflow-y: auto;
//             // height: 70%;
//             width: 26vw;
//         }
       
//     }

//     #add-category{
//         font-size: 17px;
//     }

//     .recipe-manager-container{
//         flex-direction: column;
//     }

//     .recipeImage{
//         width: 40vw;
//     }

//     #add-recipe{
//         width: 11vw;
//     }

//     #add-recipe-info{
//         width: 11vw;
//     }
// }

 /* Desktop menu */
 @media (max-width: 700px){

    .sidebar{
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        position: relative;
    }
    .sidebar-header-container{
        width: 84vw;
    }

    .category-container{
        overflow-y: auto;
        height: 20vh;
        width: 84vw;
    }
    
    .category-menu{
        flex-direction: row;
        flex-flow: wrap;
        width: 89vw;

        .category-menu-item{
            // overflow-y: auto;
            // height: 70%;
            width: 26vw;
        }
       
    }

    #add-category{
        font-size: 17px;
        width: 50%;
    }

    .recipe-manager-container{
        flex-direction: column;
    }

    .recipeImage{
        width: 40vw;
    }

    #add-recipe{
        width: 7vw;
    }

    #add-recipe-info{
        width: 7vw;
    }

 }