<div class="recipe-view-content">
    <div class="task-manager-container">

        <!-- Sidebar Container -->
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Categories
            </h1>
            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let item of categories" [routerLink]="['/categories', item._id]" routerLinkActive="is-active">
                    <p>{{item.categoryName}}</p>
                </a>
            </div>

            <button class="button is-primary has-text-white" routerLink="/new-category"> + New Category</button>
        </div>

        <!-- Recipe List Container -->
        <div class="task-list-container has-background-light">
            <div *ngIf="recipes">
                <h1 class="title has-text-primary">
                    Recipe Lists
                </h1>
            
                <!-- Object Values for Recipe List -->
                <!-- 
                    recipeName,
                    ingredientsInfo,
                    directions, 
                -->
                <!-- Current Recipes -->
                <div class="recipe-container">
                    <div class="task" *ngFor="let item of recipes">
                        <p>{{item.recipeName}}</p>
                        <p>{{item.ingredientsInfo}}</p>
                        <p>{{item.directions}}</p>
                    </div>
                </div>

                <h1 *ngIf="recipes.length === 0" class="empty-state"> 
                    There are no recipes created for this category. 
                    Click the add button below
                    to create a new recipe. 
                </h1>
            
                <button class="add-button button is-primary" routerLink="./new-recipe">
                    + New Recipe
                </button>

            </div>

            <div *ngIf="!recipes">
                <h1 class="empty-state"> Please select a Category in the sidebar to view Recipes. </h1>
            </div>
            
        </div>

    </div>
</div>