<div class="recipe-view-content">
    <div class="recipe-manager-container">

        <!-- Sidebar Container -->
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Categories
            </h1>
            <div class="category-menu">
                <a class="category-menu-item" *ngFor="let item of categories" [routerLink]="['/categories', item._id]"
                    routerLinkActive="is-active">
                    <p>{{item.categoryName}}</p>
                </a>
            </div>

            <button class="button is-primary has-text-white" routerLink="/new-category"> + New Category</button>
        </div>

        <!-- Recipe List Container -->
        <div class="main-recipe-container has-background-light">
            <div class="top-bar">
                <h1 class="title has-text-primary">
                    Recipe Lists
                </h1>
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                            <span class="icon is-small">
                                <i class="fas fa-cog" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                        <div class="dropdown-content">
                            <a [routerLink]="['/edit-category', selectedCategoryId]" class="dropdown-item">
                                Edit
                            </a>
                            <a (click)="onDeleteCategoryClick()" class="dropdown-item has-text-danger">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recipe-list-container" *ngIf="recipes">

                <!-- Object Values for Recipe List -->
                <!-- 
                    recipeName,
                    ingredientsInfo,
                    directions, 
                -->
                <!-- Current Recipes -->
                <div class="recipe-container"  *ngFor="let recipe of recipes">
                    <div class="recipe-items">
                        <p>{{recipe.recipeName}}</p>
                        <p>{{recipe.ingredientsInfo}}</p>
                        <p>{{recipe.directions}}</p>
                    </div>
                    <div class="recipe-buttons">
                        <button class="button" [routerLink]="['/categories', selectedCategoryId, 'edit-recipes', recipe._id]">
                            <div class="icon">
                                <i class="fas fa-edit"></i>
                            </div>
                        </button>
                        <button class="button is-danger" (click)="onDeleteRecipeClick(recipe._id)" style="margin-left: 10px">
                            <div class="icon">
                                <i class="fas fa-trash"></i>
                            </div>
                        </button>

                    </div>
                </div>

                <!-- If no recipes have been created for a selected Category, this text will appear -->
                <div *ngIf="recipes.length === 0">
                    <h1 class="empty-recipe-list">
                        -- There are no recipes created for this category.
                        Click the 'New Recipe' below
                        to create a new recipe! --
                    </h1>
                </div>

            </div>

            <button class="add-button button is-primary has-text-black" routerLink="./new-recipe">
                + New Recipe
            </button>

            <!-- If user hasn't selected any Category, this text will appear -->
            <div *ngIf="!recipes">
                <h1 class="not-selected-category"> 
                    -- Create a new Category by clicking on the 'New Category' button. 
                    Then, select a Category in the sidebar to view Recipes. -- 
                </h1>
            </div>

        </div>
    </div>
</div>