<div class="new-recipe-content">
    <div class="modal-box-new-recipe">
        <h1 class="title">
            Create a new Recipe
        </h1>
        <form [formGroup]="recipeForm" (ngSubmit)="createRecipe()">
            <input formControlName="recipeName" class="input has-background-light is-medium" type="text" placeholder="Enter a Recipe Name">
            <textarea formControlName="ingredientsInfo" class="textarea has-background-light" placeholder="Enter Ingredient Details"></textarea>
            <textarea formControlName="directions" class="textarea has-background-light" placeholder="Enter Directions"></textarea>

            <div class="file has-name is-fullwidth">
                <label class="file-label">
                  <input class="file-input" type="file" (change)="fileChanged($event)" value="test">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                  <span class="file-name" *ngIf="imageFileName">
                      {{imageFileName}}
                  </span>
                  <span class="file-name" *ngIf="notEmptyFile">
                        Recipe Image (Optional)
                  </span>
                </label>
              </div>

            <!-- <input type="file" (change)="fileChanged($event)" aria-describedby="fileHelpId"> -->
            <!-- <img *ngIf="recipeImage" [src]="recipeImage"> -->

            <br><br>
            <div class="buttons is-right">
                <button class="button is-medium" (click)="cancel()">Cancel</button>
                <button type="submit" class="button is-primary has-text-white is-medium">Create</button>
            </div>
        </form>

    </div>
</div>