<div class="new-recipe-content">
    <div class="modal-box-new-recipe">
        <h1 class="title">
            Create a new Recipe
        </h1>
        <form [formGroup]="recipeForm" (ngSubmit)="createRecipe()">
            <input formControlName="recipeName" class="input has-background-light is-medium" type="text" placeholder="Enter a Recipe Name">
            <textarea formControlName="ingredientsInfo" class="textarea has-background-light" placeholder="Enter Ingredient Details"></textarea>
            <textarea formControlName="directions" class="textarea has-background-light" placeholder="Enter Directions"></textarea>
            <br><br>
            <div class="buttons is-right">
                <button class="button is-medium" routerLink="/">Cancel</button>
                <button type="submit" class="button is-primary has-text-white is-medium">Create</button>
            </div>
        </form>

    </div>
</div>