input{
    margin-bottom: 10px;
}
textarea{
    margin-bottom: 10px;
}
.modal-box-edit-recipe{
    width: 100%;
    height: 21%;
    max-width: 29em;
    min-height: 36em;
    background: white;
    border-radius: 5px;
    padding: 35px;
}