<div class="signup-page-content">
    <div class="signup-box">
        
        <h1 class="title has-text-primary">Sign Up</h1>

        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input ng-model="email" #emailInput class="input has-background-light" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
            <!-- If Email Input box is empty -->
            <div *ngIf="emptyEmailMessage">
                <h1 class="error-message">*{{emptyEmailMessage}}</h1>
            </div>
            <!-- If Email Error -->
            <div *ngIf="emailErrormessage">
                <h1 class="error-message">*{{emailErrormessage}}</h1>
            </div>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input #pwInput class="input has-background-light" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
            <!-- If Password Input box is empty -->
            <div *ngIf="emptyPasswordMessage">
                <h1 class="error-message">*{{emptyPasswordMessage}}</h1>
            </div>
            <!-- If Password Error -->
            <div *ngIf="passwordErrormessage">
                <h1 class="error-message">*{{passwordErrormessage}}</h1>
            </div>
          </div>
          <div class="field" style="display: flex; justify-content: flex-end;">
            <p class="control">
              <button class="button is-success has-text-white" (click)="onSignupClicked(emailInput.value, pwInput.value)">
                Sign up
              </button>
            </p>
          </div>
          <br>
          <p>
            Already got an account?
            <a routerLink="/login"> Login</a>
            now!
          </p>

    </div>
</div>
