.signup-box{
    padding: 35px;
    background: white;
    border-radius: 5px;
    max-width: 40em;
    // width: 40%;
    // width: 350px;
    // max-width: 350px;
}

// Error Messages Styles:

.error-message{
    color: red;
}

.is-invalid{
    border: 2px solid red;
}

.signup-info{
    font-size: 15px;
    margin-left: 30px;
}