.signup-box{
    padding: 35px;
    background: white;
    border-radius: 5px;
    max-width: 40em;
    // width: 40%;
    // width: 350px;
    // max-width: 350px;
}

.signup-info{
    font-size: 15px;
    margin-left: 30px;
}